.large_title {
  font-size: @grid + 10;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0,0,0,.5);
  color: #FFF;
  font-weight: bold;
}

.text {
  font-size: @grid / 2 + 4;
  color: #666666;
  font-weight: bold;
}
