.title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
}
.large_title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
}
.small_title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}
.text_hl {
  color: 009CC9;
}
.text {
  font-size: 19px;
  color: #666666;
  font-weight: bold;
}
.h_yellow_gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
}
.h_yellow_gradient_active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
}
.action_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
}
.h_button {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  width: 300px;
  height: 60px;
  line-height: 60px;
}
.h_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.h_s_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  height: 30px;
  width: 120px;
}
.h_s_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.v_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  width: 90px;
  height: 300px;
  line-height: 300px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
}
.v_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.h_blue_button {
  width: 120px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: #009CC9;
  -webkit-border-radius: 10px;
  border: 1px solid #999999;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9efff0), to(#9efff0), color-stop(0.5, #00fed0));
}
.h_blue_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90e8da), to(#90e8da), color-stop(0.5, #00e0b8));
}
.bar {
  -webkit-box-flex: 1;
  max-height: 90px;
  min-height: 90px;
  width: 100%;
}
body {
  margin: 0px;
}
#main {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#main #top_bar {
  -webkit-box-flex: 1;
  max-height: 90px;
  min-height: 90px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01ccff), to(#01ccff), color-stop(0.5, #0099cc));
}
#main #top_bar #title {
  line-height: 90px;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
}
#main #content {
  -webkit-box-flex: 10;
  display: -webkit-box;
}
#main #bottom_nav {
  -webkit-box-flex: 1;
  max-height: 90px;
  min-height: 90px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5d5d5d), to(#5d5d5d), color-stop(0.5, #000000));
}
#main #bottom_nav > div {
  -webkit-box-flex: 1;
  background-repeat: no-repeat;
  background-position: center 9px;
  background-size: 45px 45px;
  color: #999999;
  padding: 60px 0px 0px 36px;
}
#main #bottom_nav #nav_game {
  background-image: url('../images/home.png');
  background-color: white;
  opacity: 0.5;
}
#main #bottom_nav #nav_friends {
  background-image: url('../images/friends.png');
}
#main #bottom_nav #nav_science {
  background-image: url('../images/science.png');
}
#main #bottom_nav #nav_settings {
  background-image: url('../images/settings.png');
}
#menu #menu_improve {
  padding: 30px 60px 60px 60px;
}
#menu #menu_panel {
  margin-left: 90px;
}
#menu #menu_panel .h_button {
  margin-bottom: 30px;
}
#game {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 30px;
}
#game .game_row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  max-height: 120px;
  height: 120px;
}
#game .game_row .game_col {
  -webkit-box-flex: 1;
  max-width: 120px;
  width: 120px;
  border: 1px solid black;
  background-color: white;
}
#game .game_row .game_col.highlight {
  background-color: black;
}
#game #game_left, #game #game_right {
  -webkit-box-flex: 1;
  min-width: 120px;
  padding: 0 30px 0 30px;
}
#game #game_left .h_s_button, #game #game_right .h_s_button {
  margin-bottom: 60px;
}
#game #game_right .v_button {
  margin-left: 30px;
}
#game #game_board {
  -webkit-box-flex: 10;
  min-width: 360px;
  -webkit-box-orient: horizontal;
}
