.title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
}
.large_title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}
.small_title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}
.text {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}
.text_hl {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  color: 009CC9;
}
.round_corner {
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
}
.small_round_corner {
  -webkit-border-radius: 3px;
  border: 1px solid #9A9A9A;
}
.h_orange_gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
}
.h_orange_gradient_active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
}
.h_yellow_gradient {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffff6f), to(#ffff6f), color-stop(0.5, #ffff10));
}
.action_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
}
.h_button {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
.h_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.h_s_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  height: 20px;
  width: 80px;
}
.h_s_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.v_button {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  width: 60px;
  height: 200px;
  line-height: 200px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
}
.v_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#e3a74e), to(#e3a74e), color-stop(0.6, #bd7a16));
  color: #DDDDDD;
}
.h_blue_button {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: #009CC9;
  -webkit-border-radius: 10px;
  border: 1px solid #999999;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9efff0), to(#9efff0), color-stop(0.5, #00fed0));
}
.h_blue_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#90e8da), to(#90e8da), color-stop(0.5, #00e0b8));
}
.bar {
  -webkit-box-flex: 1;
  max-height: 60px;
  min-height: 60px;
  width: 100%;
}
body {
  margin: 0px;
}
#main {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#main #top_bar {
  -webkit-box-flex: 1;
  max-height: 60px;
  min-height: 60px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01ccff), to(#01ccff), color-stop(0.5, #0099cc));
}
#main #top_bar #title {
  line-height: 60px;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}
#main #content {
  -webkit-box-flex: 10;
  display: -webkit-box;
}
#main #bottom_nav {
  -webkit-box-flex: 1;
  max-height: 60px;
  min-height: 60px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5d5d5d), to(#5d5d5d), color-stop(0.5, #000000));
}
#main #bottom_nav > div {
  -webkit-box-flex: 1;
  background-repeat: no-repeat;
  background-position: center 6px;
  background-size: 30px 30px;
  color: #999999;
  padding: 40px 0px 0px 24px;
  position: relative;
}
#main #bottom_nav > div.highlight .shield {
  display: block;
}
#main #bottom_nav > div.highlight {
  color: #FFF;
}
#main #bottom_nav #nav_game {
  background-image: url('../images/home.png');
}
#main #bottom_nav #nav_friends {
  background-image: url('../images/friends.png');
}
#main #bottom_nav #nav_science {
  background-image: url('../images/science.png');
}
#main #bottom_nav #nav_settings {
  background-image: url('../images/settings.png');
}
#main #bottom_nav .shield {
  background-color: #FFF;
  opacity: 0.2;
  display: none;
  position: absolute;
  top: 5px;
  left: 15px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 5px;
}
#menu #menu_improve {
  padding: 20px 40px 40px 40px;
}
#menu #menu_panel {
  margin-left: 60px;
}
#menu #menu_panel .h_button {
  margin-bottom: 20px;
}
#menu #menu_notconnect {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 40px;
}
#menu #menu_notconnect .connect_button {
  background: url('../images/connect.jpeg') no-repeat 50% 50%;
  height: 24px;
  width: 190px;
  display: inline-block;
  position: relative;
  top: 5px;
}
#menu #menu_connected {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  line-height: 40px;
  padding: 0px 40px;
}
body.not_connected #menu_notconnect {
  display: block;
}
body.not_connected #menu_connected {
  display: none;
}
body.connected #menu_notconnect {
  display: none;
}
body.connected #menu_connected {
  display: block;
}
#game {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: relative;
}
#game .game_row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  max-height: 80px;
  height: 80px;
}
#game .game_row .game_col {
  -webkit-box-flex: 1;
  max-width: 80px;
  width: 80px;
  border: 1px solid black;
  background-color: white;
}
#game .game_row .game_col.highlight {
  background-color: black;
}
#game #game_left, #game #game_right {
  -webkit-box-flex: 1;
  min-width: 80px;
  padding: 0 20px 0 20px;
}
#game #game_left .desc, #game #game_right .desc {
  height: 40px;
  line-height: 20px;
  color: #333;
  font-size: 10px;
}
#game #game_left .h_blue_button, #game #game_right .h_blue_button {
  margin-bottom: 40px;
}
#game #game_right .desc {
  text-align: right;
}
#game #game_right .v_button {
  margin-left: 20px;
}
#game #game_board {
  padding-top: 40px;
  -webkit-box-flex: 10;
  min-width: 240px;
  -webkit-box-orient: horizontal;
}
#game #game_continue {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#game #game_continue .box {
  -webkit-border-radius: 10px;
  border: 1px solid #9A9A9A;
  width: 242px;
  height: 240px;
  margin: 40px auto;
  z-index: 200;
  position: relative;
  background-color: #FFF;
  padding: 0px;
}
#game #game_continue .box .info_title {
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
#game #game_continue .box .info {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  line-height: 20px;
  width: 200px;
  margin: 0px auto;
}
#game #game_continue .box .button {
  width: 200px;
  margin: 20px auto;
}
#game #game_continue .box .button .h_s_button {
  line-height: 20px;
  display: inline-block;
  margin-left: 14px;
}
#game #game_continue .box #share_button {
  background: url('../images/share.jpeg') no-repeat 50% 50%;
  width: 118px;
  height: 40px;
  margin: 0px auto;
}
#game #game_continue .shield {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
}
#friends {
  text-align: center;
  padding: 20px;
}
#friends #rank_desc {
  margin-bottom: 20px;
}
#friends #leader_board {
  width: 100%;
}
#friends #leader_board .leader_row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-bottom: 20px;
}
#friends #leader_board .leader_row .thumbnail_container {
  -webkit-box-flex: 1;
  min-width: 80px;
  max-width: 80px;
}
#friends #leader_board .leader_row .thumbnail_container  > div {
  margin-left: auto;
  margin-right: auto;
}
#friends #leader_board .leader_row .thumbnail_container .thumbnail {
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
#friends #leader_board .leader_row .thumbnail_container .name {
  height: 20px;
  line-height: 20px;
}
#friends #leader_board .leader_row .score {
  -webkit-box-flex: 4;
  font-weight: bold;
  font-size: 30px;
  color: #000;
  position: relative;
  top: 5px;
}
#friends #leader_board .leader_row .challenge {
  font-size: 14px;
  -webkit-box-flex: 1;
  position: relative;
  top: 10px;
}
#friends #invite_button {
  margin: 20px auto;
}
.gray_boarder {
  border-width: 1px;
  border-color: #999;
}
#history {
  width: 100%;
}
#history  > div {
  margin: auto;
}
#history #title {
  color: #0099CC;
  text-align: center;
  font-size: 48px;
}
#history #history_chart {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#history #date_button {
  width: 240px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
}
#history #date_button  > div {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  -webkit-box-flex: 1;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #999;
}
#history #date_button .left {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #999;
}
#history #date_button .center {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffff6f), to(#ffff6f), color-stop(0.5, #ffff10));
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}
#history #date_button .right {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: #999;
}
#settings {
  width: 100%;
  margin-top: 20px;
}
#settings  > div {
  margin: 20px 40px;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}
#settings  > div .setting_text {
  -webkit-box-flex: 8;
  display: -webkit-box;
  color: #666;
}
#settings  > div .setting_op {
  -webkit-box-flex: 1;
  display: -webkit-box;
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
#settings #setting_nback .setting_op  > span {
  display: block;
  height: 20px;
}
#settings #setting_nback .setting_op .left {
  background: url('../images/tri-left.png') no-repeat 50% 50%;
  background-size: 20px;
  width: 20px;
}
#settings #setting_nback .setting_op #setting_nback_num {
  width: 40px;
}
#settings #setting_nback .setting_op .right {
  background: url('../images/tri-right.png') no-repeat 50% 50%;
  background-size: 20px;
  width: 20px;
}
#settings #setting_speed .setting_op  > span {
  -webkit-border-radius: 3px;
  border: 1px solid #9A9A9A;
  height: 20px;
  width: 40px;
  display: block;
  position: relative;
  z-index: 0;
}
#settings #setting_speed .setting_op  > span.highlight {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbc58), to(#ffbc58), color-stop(0.5, #ffa51e));
  z-index: 100;
}
#settings #setting_speed .setting_op .right {
  position: relative;
  left: -5px;
}
#tutorial {
  padding: 20px;
}
#tutorial #tutorial_one_back {
  width: 100%;
}
#tutorial  > div {
  margin-bottom: 20px;
}
